<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

</head>
<body>

<footer class="post-num footer text-center" th:fragment="footer">
    <div class="container p-4">
        <div class="row full-width">
            <div class="column col-lg-6 col-md-12 mb-4 ">
                <footer class="text-center">
                    <p class="text-center">Copyright &copy; Devpractical.com</p>
                </footer>
            </div>
        </div>
    </div>
</footer>


</body>
</html>